@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=DM+Serif+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

li {
    padding-bottom: 1rem;
    color: #fff;
    font-weight: normal;
    padding: .5rem 0;
}

h1 {
    color: #7a010a;
}

button {
    background-color: #7a010a;
    color:#fff ;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    border: none;
    margin-top: 16px;
    border-radius: 10px;
    max-width: max-content;
}

footer {
    color: #fff;
    font-size: medium;
    opacity: 0.5;
    background-color: #7a010a;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 5rem auto 2.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: #7a010a;
    overflow: hidden;
}

.hidden-mobile {
    display: none;
    position: absolute;
    top: 4.4rem;
    left: -1px;
    align-items: flex-start;
    padding-left: 1rem;
    background-color: rgba(38, 38, 41, .9);
    width: 100%;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 390px) and (orientation: portrait) {
    h1 {
      font-size: 48px;
    }
}

@media screen and (min-width: 740px) {
    .hidden-mobile {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      left: 2.5rem;
      background: none;
      justify-content: space-around;
      max-width: 75%;
    }
  
    .hidden-mobile li {
      color: #262629;
      font-weight: bold;
    }
  
    ul {
      justify-content: end;
    }
  
    .icon-menu {
      display: none;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    h1 {
      font-size: 62px;
    }
  
    h2 {
      font-size: 40px;
    }
  
    nav a {
      font-size: 32px;
    }
}

@media screen and (min-width: 900px) and (orientation: portrait) {
    h1 {
      font-size: 62px;
    }
  
    h2 {
      font-size: 40px;
    }
}

@media screen and (min-width: 1025px){
    h1 {
      font-size: 55px;
    }
  
    h2 {
      font-size: 32px;
    }
  
    nav a {
      font-size: 28px;
    }
  
    footer p {
      font-size: 20px;
    }
}
