@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


body {
  max-height: 800px;
  background-color: rgb(215, 215, 215)
}



.card1 {
  display: flex;
  justify-content: center;
  padding-top: 75px;

  padding-left: 100px;

}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  border: 5px solid rgb(17, 75, 1);
  border-radius: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: rgb(17, 75, 1);
  font-size: 20px;
  font-family: 'DM Serif Display', serif;
  
}

.sendEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.hidden-mobile {
  display: none;
  position: absolute;
  top: 4.76rem;
  left: -1px;
  align-items: flex-start;
  padding-left: 1rem;
  background-color: rgba(38, 38, 41, 1);
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-family: 'DM Serif Display', serif;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #7a010a;
  overflow: hidden;
}



ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li {
  padding-bottom: 1rem;
  color: #fff;
  font-weight: normal;
  padding: .5rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.sendEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-top: 2rem;
    width: 40%;
}

input, 
textarea {
    padding: .75rem;
    width: 100%;
    margin: .5rem;
}

textarea {
    height: 10rem;
}

button {
    padding: 15px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    background-color: #fff;
    color: #7a010a;
    border: none;
    margin-top: 16px;
    margin-left: 35%;
    margin-bottom: 2rem;
    border-radius: 10px;
}

