@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=DM+Serif+Display&display=swap");

body {
  background-image: url(img/image1.jpg");
  text-align: left;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h2 {
  color: #5a5963;
  font-size: 32px;
  font-weight: 300;
}

main {
  padding: 1rem 2rem;
  align-items: baseline;
}

ul {
  align-items: center;
  flex-direction: column;
}

.btn-part {
  display: flex;
}

.myFancyBtn {
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 1rem;
  line-height: 1.6;
}

.cookies-eu-banner {
  background: rgb(133, 4, 4);
  background-color: #123F20;
  color: white;
  padding: 6px;
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#close button:hover {
  background: white;
  color:#123F20;
}

.hidden {
  display: none;
}

#close button{
  text-decoration: none;
  color: white;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1025px){

  footer p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .myFancyBtn {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 40px;
  }

  nav a {
    font-size: 32px;
  }
}

@media screen and (max-width: 658px) and (max-height: 300px) {
  body {
      height: auto;
  }
}

@media (min-width: 640px) {
  button {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 400px) and (orientation: portrait){
  .myFancyBtn {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    margin-right: .75rem;
  }
}

@media screen and (max-width: 370px) and (orientation: portrait){
  .myFancyBtn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) and (orientation: portrait){
  .myFancyBtn {
    padding: .5rem;
  }

  main {
    padding: 1rem;
  }
}
